* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: ; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ion-icon {
  cursor: pointer;
}

.hover:hover {
  transition: all 0.3s;
  background-color: #d8dbdd;
  cursor: pointer;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 3px;
  width: 700px;
  border-radius: 10px;
}
