* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: ; */
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

ion-icon {
  cursor: pointer;
}

.hover:hover {
  transition: all 0.3s;
  background-color: #d8dbdd;
  cursor: pointer;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 3px;
  width: 700px;
  border-radius: 10px;
}

.nav-container {
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  padding: 12px;
  gap: 40px;
}

.nav-top span {
  width: 75%;
  background-color: #caf0f8;
  padding: 20px 30px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.nav-middle ul li {
  font-size: 14px;
  list-style: none;
  margin-left: 4px;
  margin-bottom: 4px;
  padding: 8px;
}

.nav-middle ul li a {
  display: flex;
  gap: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}

.nav-middle :hover {
  color: #748cab;
}

.main-content {
  margin-top: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--middle-gray);
}

.content-icon,
.star {
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  color: var(--dark-gray);
  padding: 8px;
  border-radius: 50%;
}

.chev {
  color: #b1b1b1;
}

.main-content .top {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  background-color: var(--dark-gray);
}
