* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.document-top-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: red;
  flex-grow: 1;
}

.main-nav {
  display: flex;
  position: sticky;
}

.top-navigation-main ul {
  background-color: aqua;
  display: flex;
  position: sticky;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
}

.top-navigation-main {
  display: flexbox;
  position: sticky;
  flex-grow: 1;
  padding: 0px;
  width: 100%;
  /* height: fit-content; */
  position: sticky;
}

#main-doc-flex {
  background-color: blue;
  margin-top: 0px;
  display: flex;
  position: static;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  width: 60%;
  margin-left: 250px;
}

.main-section h2 {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
}

.main-section p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2px;
  width: 100%;
}

.left-nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 10px;
  width: 220px;
  height: 100%;
}
.left-nav-main-items {
  margin-bottom: 50px;
  text-decoration: none;
  list-style-type: none;
}
.left-nav-content {
  overflow: auto;
}

.right-nav {
  display: flex;
  position: relative;
  left: 90%;
  padding: 10px;
  width: 100px;
  /* background-color: blueviolet; */
}

.right-nav-main-items {
  display: flex;
  position: relative;
  justify-content: space-between;
  gap: 30px;
}
