.document-top-container {
  display: block;
  padding: 10px 20px;
  /* margin: -10px -5px -5px -10px;  greseala */
  margin-top: -10px;
  margin-left: -10px;
  width: 100%;
  text-align: center;
  background-color: grey;
}
.sticky-container {
  display: flexbox;
  text-align: flex-start;
  /* position: fixed; */
  background-color: antiquewhite;
  width: 100%;
  padding: 10px;
  margin-top: -10px;
  margin-left: -10px;
}

.top-navigation-main-items {
  display: inline-block;
  /* position: fixed; */
}

/* .document-sidebar-container{
    display: flexbox;
    text-align: left;
    position: fixed;
    padding: 10px;
} */
