* {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #edf6f9;
  background-color: #24252a;
}

.document-top-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-grow: 1;
}

.main-nav {
  display: flex;
  top: 20px;
  width: 100%;
  position: sticky;
  /* position: fixed; */
  flex-grow: 1;
  overflow: auto;
}

.top-navigation-main ul {
  display: flex;
  /* position: fixed; */
  flex-grow: 1;
  gap: 30px;
  height: 100%;
  box-sizing: border-box;
  margin-left: 10px;
}

li:hover {
  color: #0088a9;
}

.left-nav {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: fixed;
  top: 80px;
  left: 10px;
  width: 220px;
  height: 100%;
}
.left-nav-main-items {
  margin-bottom: 50px;
  text-decoration: none;
  list-style-type: none;
}
.left-nav-content {
  overflow: auto;
}
#main-doc {
  display: flex;
  position: static;
  flex-direction: column;
  flex-grow: 1;
  padding: 60px;
  height: 50px;
  position: relative;
  left: 300px;
  width: 60%;
}
#main-doc,
h2 {
  height: 50px;
}

p {
  margin-bottom: 10px;
}

.right-nav-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
  /* width: 100px; */
  margin-left: 0px;
  box-sizing: border-box;
}

.right-nav {
  display: flex;
  position: static;
  flex-grow: 1;
  justify-content: flex-end;
  height: 500px;
  /* overflow: auto; */
}
.right-nav ol {
  border-left: 2px solid #edf6f9;
  padding: 10px;
  width: 20%;
  height: 300px;
}
.right-nav-main-items {
  width: 200px;
  margin-bottom: 20px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

.right-nav li:hover {
  color: #0088a9;
}
