* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #24252a; */
}

.document-top-container {
  display: flexbox;
  text-align: center;
  width: 100%;
  height: 20px;
  padding: 10px;
  /* background-color: #403d39; */
}
.top-navigation-main ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 30px 10%;
}
.top-navigation-main-items {
  list-style: none;
}
top-navigation-main-items li {
  display: inline-block;
  padding: 0px 20px;
}

li:hover {
  color: #0088a9;
}
